@include desktop {
  .hero {
    &__title {
      margin: 100px 0 40px;
    }

    &__btn-play {
      height: 100px;
      width: 100px;
    }
  }

  .services {
    .btn-group {
      margin-bottom: 60px;
      &__btn {
        padding: 18px 0;
        max-width: 157px;
        border: 1px solid $light-grey;
        border-radius: 0;
        color: $light-grey;
        text-transform: uppercase;
        &:hover {
          color: $white;
        }
      }
    }
    .carousel {
      &__btn-prev,
      &__btn-next {
        @include arrow-btn-prop(100px, 100px, 36px 36px);
        top: 32%;
      }
      &__btn-prev {
        @include arrow-btn-bg(0);
      }
      &__btn-next {
        @include arrow-btn-bg(180deg);
      }
    }
  }

  .info {
    margin-bottom: 180px;
    .card-list {
      max-width: 1202px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      &__item {
        max-width: 218px;
        text-align: center;
      }
    }
    .item {
      &__img {
        width: 120px;
        height: 120px;
        margin-bottom: 36px;
      }
      &__subtitle {
        font-weight: 400;
        margin-bottom: 16px;
      }
      &__caption {
        max-height: 71px;
        overflow: hidden;
        @include main-text2;
        color: $light-grey;
      }
    }
  }

  .membership {
    padding: 160px 0;
    background-image: url("../images/plans-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    .note-card {
      max-width: 455px;
      &__img {
        display: block;
        width: 100%;
        object-fit: cover;
      }
      &__title {
        margin: 40px 0 24px;
      }
      &__box {
        height: max-content;
        margin-bottom: 40px;
      }
      &__caption {
        padding: 0 40px 0 60px;
        &:before {
          background-image: url(../images/checkmark.svg);
          background-size: 14px 14px;
          width: 14px;
          height: 14px;
          left: 34px;
          top: 4px;
        }
        &:nth-of-type(n + 4) {
          color: $light-grey;
          &::before {
            background-image: url(../images/checkmark-grey.svg);
          }
        }

        &:not(:last-of-type) {
          margin-bottom: 24px;
        }
      }
      &__btn-all {
        display: none;
      }
    }
  }
}
