.dropdown {
  position: relative;
  padding: 0 15px;
  margin-bottom: 30px;

  &__menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 15px;
    right: 15px;
    top: 100%;
    background-color: $main-bg;
    border-radius: 0;
    opacity: 0;
    pointer-events: none;
  }
  &__items {
    display: flex;
    flex-direction: column;
  }
  &__item,
  &__btn {
    @include main-text2;
    width: 100%;
    padding: 15px 20px;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s;
    background: none;
    color: $white;
    border: 1px solid $light-grey;
    border-radius: 0;
    font-weight: 700;
    &:not(:nth-of-type(1)) {
      border-top: none;
    }
  }
  &__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &::after {
      content: url(../images/caret-down.svg);
    }
  }
  &__btn.active > &__item,
  &__item:hover {
    background-color: $footer-bg;
  }
  &.active > .dropdown__btn + .dropdown__menu {
    opacity: 1;
    transform: translateY(-1px);
    pointer-events: auto;
  }
}
