.btn-play {
  padding: 0;
  border: 1.5px solid $white;
  border-radius: 50%;
  transition: all 0.7s;
  z-index: 3;
  &_size {
    height: 50px;
    width: 50px;
  }
  &_bgc_transp {
    background-color: transparent;
  }
  &_bgc_white {
    background-color: $white;
  }
  &:hover {
    scale: (1.1);
    rotate: 360deg;
  }
  &:focus {
    box-shadow: 0 0 2px 2px $white;
  }
  &:active {
    transition: all 0.1s;
    box-shadow: inset 0 0 6px 4px $purple;
  }
  &__img {
    margin-left: 3px;
    width: 12px;
    height: 12px;
  }
}
