@mixin container-custom {
  @include desktop() {
    width: 1170px;
    margin: 0 auto;
    padding: 0;
  }
}

@mixin phone() {
  @media (min-width: $breakpoint_sm) {
    @content;
  }
}

@mixin tablet() {
  @media (min-width: $breakpoint_md) {
    @content;
  }
}

@mixin desktop() {
  @media (min-width: $breakpoint_lg) {
    @content;
  }
}

@mixin large-desktop() {
  @media (min-width: $breakpoint_xl) {
    @content;
  }
}

@mixin larger-desktop() {
  @media (min-width: $breakpoint_xxl) {
    @content;
  }
}

@mixin subtitle() {
  font-size: 15px;
  line-height: 20px;
  @media (min-width: $breakpoint_lg) {
    font-size: 18px;
    line-height: 24px;
  }
}

@mixin main-text() {
  font-size: 13px;
  line-height: 18px;

  @media (min-width: $breakpoint_lg) {
    font-size: 16px;
    line-height: 24px;
  }
}

@mixin main-text2() {
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $breakpoint_lg) {
    font-size: 15px;
    line-height: 22px;
  }
}

@mixin text() {
  font-size: 11px;
  line-height: 15px;
  @media (min-width: $breakpoint_lg) {
    font-size: 13px;
    line-height: 20px;
  }
}

@mixin arrow-btn-prop($width, $height, $bgsize) {
  width: $width;
  height: $height;
  border: 1px solid $white;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: $bgsize;
  background-position: center;
  opacity: 1;
  transition: all 0.5s;

  &:focus {
    box-shadow: 0 0 4px 4px #000;
  }
  &:active {
    transition: all 0.1s;
    box-shadow: inset 0 0 6px 4px $purple;
  }
}

@mixin arrow-btn-bg($rotate) {
  background-image: url("../images/arrow-left.svg");
  transform: rotate($rotate);
  &:hover {
    opacity: 1;
    background-image: url("../images/arrow-left-dark.svg");
    background-color: $white;
  }
}
