$breakpoint_sm: 576px;
$breakpoint_md: 768px;
$breakpoint_lg: 992px;
$breakpoint_xl: 1200px;
$breakpoint_xxl: 1400px;

$purple: #8b32fe;
$main-bg: #1b1b1b;
$footer-bg: #2d2d2e;
$light-grey: #615d6d;
$white: #ffffff;
