@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap");
@font-face {
  font-family: "Al Veshion";
  src: local("Al Veshion Regular"), local("Al-Veshion-Regular"), url("../fonts/Al_Veshion.woff2") format("woff2"), url("../fonts/Al_Veshion.woff") format("woff"), url("../fonts/Al_Veshion.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  letter-spacing: 0;
  color: #ffffff;
  background-color: #1b1b1b;
}

a,
a:hover,
a:active {
  text-decoration: none;
  color: #ffffff;
}

h1,
h2,
h3,
h4 {
  font-family: "Al Veshion", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

h1 {
  font-size: 30px;
  line-height: 40px;
}

h2 {
  font-size: 24px;
  line-height: 32px;
}

h3 {
  font-size: 20px;
  line-height: 27px;
}

h4 {
  font-size: 16px;
  line-height: 21px;
}

h5 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
}

h6 {
  font-size: 15px;
  line-height: 20px;
}

.section-title {
  text-align: center;
  margin: 60px 0 30px;
}

.container {
  padding: 0 15px;
}

.container-fluid {
  padding: 0 15px;
}

@media (min-width: 992px) {
  h1 {
    font-size: 60px;
    line-height: 80px;
  }
  h2 {
    font-size: 48px;
    line-height: 64px;
  }
  h3 {
    font-size: 36px;
    line-height: 48px;
  }
  h4 {
    font-size: 24px;
    line-height: 32px;
  }
  h5 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
  }
  h6 {
    font-size: 18px;
    line-height: 24px;
  }
  .section-title {
    margin: 180px 0 60px;
  }
  .container {
    padding: 0 20px;
  }
}
.header {
  position: relative;
  z-index: 2;
}
.header__logo {
  width: 152px;
  height: 23px;
}
.header__btn-burger {
  position: relative;
  padding: 10px;
  border: none;
}
.header__btn-burger:before {
  position: absolute;
  top: 0;
  right: 24px;
  content: "";
  width: 72px;
  height: 1px;
  background: #ffffff;
  opacity: 0.1;
  transform: rotate(90deg);
}
.header__btn-burger:focus {
  box-shadow: 0 0 2px #ffffff;
}
.header__btn-burger_icon {
  display: flex;
  position: relative;
  height: 1px;
  width: 24px;
  background-color: #fff;
}
.header__btn-burger_icon::before, .header__btn-burger_icon::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 24px;
  background-color: #fff;
}
.header__btn-burger_icon::before {
  top: 4px;
  left: 0;
}
.header__btn-burger_icon::after {
  bottom: 4px;
  right: 0;
}
.header .nav-item {
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 700;
}
@media (min-width: 992px) {
  .header .nav-item {
    font-size: 15px;
    line-height: 22px;
  }
}
.header .nav-link {
  color: #ffffff;
}
.header .nav-dropdown > * {
  font-size: 13px;
  line-height: 18px;
}
@media (min-width: 992px) {
  .header .nav-dropdown > * {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 992px) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .header .nav-item:not(:nth-child(6)) {
    position: relative;
  }
  .header .nav-item:not(:nth-child(6)):after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: width 0.5s;
  }
  .header .nav-item:not(:nth-child(6)):hover:after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    background-color: #ac6cff;
    transition: width 0.5s;
  }
  .header .nav__dropdown {
    position: relative;
  }
  .header .nav__dropdown:before {
    position: absolute;
    bottom: 18px;
    right: 38px;
    content: "";
    width: 102px;
    height: 1px;
    background: #ffffff;
    opacity: 0.1;
    transform: rotate(90deg);
  }
  .header .nav__btn {
    color: #ffffff;
  }
  .header .navbar-nav > li {
    margin-left: 50px;
  }
}
.btn-consult {
  font-size: 13px;
  line-height: 18px;
  height: 54px;
  font-weight: 700;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  background-color: #8b32fe;
  transition: all 0.5s;
}
@media (min-width: 992px) {
  .btn-consult {
    font-size: 16px;
    line-height: 24px;
  }
}
.btn-consult:focus {
  box-shadow: inset 0 0 2px 2px #ffffff;
}

@media (min-width: 992px) {
  .btn-consult {
    font-size: 11px;
    line-height: 15px;
    background-image: linear-gradient(#7333c6, #7333c6);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position: left;
    transition: all 0.5s;
  }
}
@media (min-width: 992px) and (min-width: 992px) {
  .btn-consult {
    font-size: 13px;
    line-height: 20px;
  }
}
@media (min-width: 992px) {
  .btn-consult:hover {
    background-size: 100% 100%;
  }
}
@media (min-width: 992px) {
  .btn-consult:active {
    transition: all 0.1s;
    box-shadow: inset 0 0 2px 2px #ffffff;
  }
}
.hero {
  position: relative;
  min-height: 100vh;
}
.hero__title {
  position: relative;
  z-index: 2;
  margin: 50px 0 30px;
}
.hero__video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.hero__btn-play {
  transition: all 0.7s;
  position: relative;
  z-index: 2;
  height: 52px;
  width: 52px;
  border-radius: 54%;
  border: none;
  background-image: url("../images/play-button.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.hero__btn-play:hover {
  transform: rotate(360deg) scale(1.1);
}
.hero__btn-play:active {
  transition: all 0.1s;
  box-shadow: inset 0 0 6px 4px #8b32fe;
}
.hero__subtitle {
  position: relative;
  z-index: 2;
}
.hero .hr-divider {
  position: relative;
  z-index: 2;
  opacity: 0.1;
}
.hero .hr-divider-static {
  position: absolute;
  z-index: 2;
  opacity: 0.1;
  top: 52px;
  left: 0;
  right: 0;
}

.services .dropdown {
  position: relative;
  padding: 0 15px;
  margin-bottom: 30px;
}
.services .dropdown__menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 15px;
  right: 15px;
  top: 100%;
  background-color: #1b1b1b;
  border-radius: 0;
  opacity: 0;
  pointer-events: none;
}
.services .dropdown__items {
  display: flex;
  flex-direction: column;
}
.services .dropdown__item, .services .dropdown__btn {
  font-size: 12px;
  line-height: 16px;
  width: 100%;
  padding: 15px 20px;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s;
  background: none;
  color: #ffffff;
  border: 1px solid #615d6d;
  border-radius: 0;
  font-weight: 700;
}
@media (min-width: 992px) {
  .services .dropdown__item, .services .dropdown__btn {
    font-size: 15px;
    line-height: 22px;
  }
}
.services .dropdown__item:not(:nth-of-type(1)), .services .dropdown__btn:not(:nth-of-type(1)) {
  border-top: none;
}
.services .dropdown__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.services .dropdown__btn::after {
  content: url(../images/caret-down.svg);
}
.services .dropdown__btn.active > .services .dropdown__item, .services .dropdown__item:hover {
  background-color: #2d2d2e;
}
.services .dropdown.active > .dropdown__btn + .dropdown__menu {
  opacity: 1;
  transform: translateY(-1px);
  pointer-events: auto;
}
.services .btn-group__btn {
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  transition: all 0.5s;
}
@media (min-width: 992px) {
  .services .btn-group__btn {
    font-size: 15px;
    line-height: 22px;
  }
}
.services .btn-group__btn:focus {
  box-shadow: inset 0 0 4px 4px #615d6d;
}
.services .carousel .card-custom:last-of-type {
  padding-right: 15px;
}
.services .carousel .card-custom__picture {
  min-width: 265px;
}
.services .carousel .card-custom__picture:nth-of-type(4) {
  padding-right: 15px;
}
.services .carousel .card-custom__picture img {
  width: 100%;
  object-fit: cover;
}
.services .carousel .card-custom__title {
  display: block;
  margin: 18px 0 8px 0;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}
.services .carousel .card-custom__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.services .carousel .card-custom__text1 {
  text-transform: uppercase;
  margin-right: 14px;
}
.services .carousel .card-custom__text2 {
  font-size: 13px;
  line-height: 18px;
  color: #615d6d;
  text-transform: uppercase;
  text-decoration: line-through;
  flex: 1 1 auto;
}
@media (min-width: 992px) {
  .services .carousel .card-custom__text2 {
    font-size: 16px;
    line-height: 24px;
  }
}
.services .carousel .card-custom__text3 {
  font-size: 12px;
  line-height: 16px;
  color: #615d6d;
  position: relative;
}
@media (min-width: 992px) {
  .services .carousel .card-custom__text3 {
    font-size: 15px;
    line-height: 22px;
  }
}
.services .carousel .card-custom__text3::before {
  content: "";
  background-image: url(../images/clock.svg);
  background-size: 10px 10px;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 125%;
}
@media (min-width: 992px) {
  .services .carousel .card-custom {
    max-width: 360px;
  }
  .services .carousel .card-custom:last-of-type {
    padding: 0;
  }
  .services .carousel .card-custom__picture {
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
    transition: all 0.5s;
  }
  .services .carousel .card-custom__picture:after {
    transition: all 0.5s;
    content: "Find out more";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(100%);
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    line-height: 18px;
    background-color: #8b32fe;
  }
}
@media (min-width: 992px) and (min-width: 992px) {
  .services .carousel .card-custom__picture:after {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 992px) {
  .services .carousel .card-custom__picture:hover:after {
    transform: translateY(0);
  }
}
@media (min-width: 992px) {
  .services .carousel .card-custom__picture:hover img {
    opacity: 0.6;
  }
}
@media (min-width: 992px) {
  .services .carousel .card-custom__picture img {
    transition: all 0.5s;
  }
}
@media (min-width: 992px) {
  .services .carousel .card-custom__body, .services .carousel .card-custom__footer {
    padding: 0 31px;
  }
}
@media (min-width: 992px) {
  .services .carousel .card-custom__title {
    font-size: 16px;
    margin: 24px 0 12px 0;
  }
}
@media (min-width: 992px) {
  .services .carousel .card-custom__text2 {
    font-size: 15px;
  }
}
.services .carousel-custom {
  overflow-x: scroll;
  font-size: 0;
}
.services .carousel-custom::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.services .carousel-custom__box {
  padding-left: 15px;
  display: flex;
  gap: 10px;
}
.services .carousel-custom .card-custom:last-of-type {
  padding-right: 15px;
}
.services .carousel-custom .card-custom__picture {
  min-width: 265px;
}
.services .carousel-custom .card-custom__picture:nth-of-type(4) {
  padding-right: 15px;
}
.services .carousel-custom .card-custom__picture img {
  width: 100%;
  object-fit: cover;
}
.services .carousel-custom .card-custom__title {
  display: block;
  margin: 18px 0 8px 0;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}
.services .carousel-custom .card-custom__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.services .carousel-custom .card-custom__text1 {
  text-transform: uppercase;
  margin-right: 14px;
}
.services .carousel-custom .card-custom__text2 {
  font-size: 13px;
  line-height: 18px;
  color: #615d6d;
  text-transform: uppercase;
  text-decoration: line-through;
  flex: 1 1 auto;
}
@media (min-width: 992px) {
  .services .carousel-custom .card-custom__text2 {
    font-size: 16px;
    line-height: 24px;
  }
}
.services .carousel-custom .card-custom__text3 {
  font-size: 12px;
  line-height: 16px;
  color: #615d6d;
  position: relative;
}
@media (min-width: 992px) {
  .services .carousel-custom .card-custom__text3 {
    font-size: 15px;
    line-height: 22px;
  }
}
.services .carousel-custom .card-custom__text3::before {
  content: "";
  background-image: url(../images/clock.svg);
  background-size: 10px 10px;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 125%;
}
@media (min-width: 992px) {
  .services .carousel-custom .card-custom {
    max-width: 360px;
  }
  .services .carousel-custom .card-custom:last-of-type {
    padding: 0;
  }
  .services .carousel-custom .card-custom__picture {
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
    transition: all 0.5s;
  }
  .services .carousel-custom .card-custom__picture:after {
    transition: all 0.5s;
    content: "Find out more";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(100%);
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    line-height: 18px;
    background-color: #8b32fe;
  }
}
@media (min-width: 992px) and (min-width: 992px) {
  .services .carousel-custom .card-custom__picture:after {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 992px) {
  .services .carousel-custom .card-custom__picture:hover:after {
    transform: translateY(0);
  }
}
@media (min-width: 992px) {
  .services .carousel-custom .card-custom__picture:hover img {
    opacity: 0.6;
  }
}
@media (min-width: 992px) {
  .services .carousel-custom .card-custom__picture img {
    transition: all 0.5s;
  }
}
@media (min-width: 992px) {
  .services .carousel-custom .card-custom__body, .services .carousel-custom .card-custom__footer {
    padding: 0 31px;
  }
}
@media (min-width: 992px) {
  .services .carousel-custom .card-custom__title {
    font-size: 16px;
    margin: 24px 0 12px 0;
  }
}
@media (min-width: 992px) {
  .services .carousel-custom .card-custom__text2 {
    font-size: 15px;
  }
}

.info {
  margin-bottom: 60px;
}
.info .carousel {
  min-height: 236px;
  text-align: center;
}
.info .carousel .item__img {
  width: 60px;
  height: 60px;
  margin-bottom: 18px;
}
.info .carousel .item__subtitle {
  font-weight: 600;
  margin-bottom: 8px;
}
.info .carousel .item__caption {
  height: 54px;
  overflow: hidden;
  font-size: 13px;
  line-height: 18px;
  color: #615d6d;
}
@media (min-width: 992px) {
  .info .carousel .item__caption {
    font-size: 16px;
    line-height: 24px;
  }
}
.info .carousel__controls-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info .carousel__indicators {
  position: static;
}
.info .carousel__indicator {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  margin: 0 5px;
}
.info .carousel__indicator.active {
  width: 24px;
  border-radius: 0;
}
.info .carousel__btn-prev, .info .carousel__btn-next {
  position: static;
  width: 50px;
  height: 50px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: center;
  opacity: 1;
}
.info .carousel__btn-prev:focus, .info .carousel__btn-next:focus {
  box-shadow: 0 0 4px 4px #000;
}
.info .carousel__btn-prev:active, .info .carousel__btn-next:active {
  transition: all 0.1s;
  box-shadow: inset 0 0 6px 4px #8b32fe;
}
.info .carousel__btn-prev {
  background-image: url("../images/arrow-left.svg");
  transform: rotate(0);
}
.info .carousel__btn-prev:hover {
  background-image: url("../images/arrow-left-dark.svg");
  background-color: #ffffff;
}
.info .carousel__btn-next {
  background-image: url("../images/arrow-left.svg");
  transform: rotate(180deg);
}
.info .carousel__btn-next:hover {
  background-image: url("../images/arrow-left-dark.svg");
  background-color: #ffffff;
}

.membership {
  padding: 50px 0;
  background-color: #2d2d2e;
}
.membership .note-card {
  max-width: 290px;
  background-color: #1b1b1b;
}
.membership .note-card:last-of-type {
  background-color: #ffffff;
}
.membership .note-card:last-of-type p:nth-child(-n+3) {
  color: #1b1b1b;
}
.membership .note-card:last-of-type p:nth-child(n+4) {
  color: #615d6d;
  opacity: 0.5;
}
.membership .note-card__img {
  display: none;
}
.membership .note-card__box {
  transition: all 0.5s;
  height: 180px;
  overflow: hidden;
}
.membership .note-card__title {
  margin: 30px 0 18px;
  text-align: center;
  font-family: "Al Veshion", sans-serif;
  font-weight: 400;
}
.membership .note-card__title:last-of-type {
  color: #1b1b1b;
}
.membership .note-card__caption {
  padding: 0 20px 0 40px;
  position: relative;
  font-size: 13px;
  line-height: 18px;
}
@media (min-width: 992px) {
  .membership .note-card__caption {
    font-size: 16px;
    line-height: 24px;
  }
}
.membership .note-card__caption:not(:last-of-type) {
  margin-bottom: 18px;
}
.membership .note-card__caption:before {
  content: "";
  background-image: url(../images/checkmark.svg);
  background-size: 12px 12px;
  width: 12px;
  height: 12px;
  position: absolute;
  left: 20px;
  top: 2px;
}
.membership .note-card__btn-all {
  padding: 0 50px;
  height: 54px;
  width: 100%;
  border: none;
  border-top: 1px solid #615d6d;
  background-color: transparent;
  text-transform: uppercase;
  color: #615d6d;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  transition: all 0.5s;
}
@media (min-width: 992px) {
  .membership .note-card__btn-all {
    font-size: 15px;
    line-height: 22px;
  }
}
.membership .note-card__btn-all:focus {
  box-shadow: inset 0 0 2px 2px #ffffff;
}
.membership .note-card__btn {
  width: 100%;
  border-radius: 0;
  font-size: 13px;
  line-height: 18px;
}
@media (min-width: 992px) {
  .membership .note-card__btn {
    font-size: 16px;
    line-height: 24px;
  }
}
.membership .toggle-card-height {
  height: 360px;
}

@media (min-width: 992px) {
  .hero__title {
    margin: 100px 0 40px;
  }
  .hero__btn-play {
    height: 100px;
    width: 100px;
  }
  .services .btn-group {
    margin-bottom: 60px;
  }
  .services .btn-group__btn {
    padding: 18px 0;
    max-width: 157px;
    border: 1px solid #615d6d;
    border-radius: 0;
    color: #615d6d;
    text-transform: uppercase;
  }
  .services .btn-group__btn:hover {
    color: #ffffff;
  }
  .services .carousel__btn-prev, .services .carousel__btn-next {
    width: 100px;
    height: 100px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 36px 36px;
    background-position: center;
    opacity: 1;
    top: 32%;
  }
  .services .carousel__btn-prev:focus, .services .carousel__btn-next:focus {
    box-shadow: 0 0 4px 4px #000;
  }
  .services .carousel__btn-prev:active, .services .carousel__btn-next:active {
    transition: all 0.1s;
    box-shadow: inset 0 0 6px 4px #8b32fe;
  }
  .services .carousel__btn-prev {
    background-image: url("../images/arrow-left.svg");
    transform: rotate(0);
  }
  .services .carousel__btn-prev:hover {
    background-image: url("../images/arrow-left-dark.svg");
    background-color: #ffffff;
  }
  .services .carousel__btn-next {
    background-image: url("../images/arrow-left.svg");
    transform: rotate(180deg);
  }
  .services .carousel__btn-next:hover {
    background-image: url("../images/arrow-left-dark.svg");
    background-color: #ffffff;
  }
  .info {
    margin-bottom: 180px;
  }
  .info .card-list {
    max-width: 1202px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .info .card-list__item {
    max-width: 218px;
    text-align: center;
  }
  .info .item__img {
    width: 120px;
    height: 120px;
    margin-bottom: 36px;
  }
  .info .item__subtitle {
    font-weight: 400;
    margin-bottom: 16px;
  }
  .info .item__caption {
    max-height: 71px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #615d6d;
  }
}
@media (min-width: 992px) and (min-width: 992px) {
  .info .item__caption {
    font-size: 15px;
    line-height: 22px;
  }
}
@media (min-width: 992px) {
  .membership {
    padding: 160px 0;
    background-image: url("../images/plans-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .membership .note-card {
    max-width: 455px;
  }
  .membership .note-card__img {
    display: block;
    width: 100%;
    object-fit: cover;
  }
  .membership .note-card__title {
    margin: 40px 0 24px;
  }
  .membership .note-card__box {
    height: max-content;
    margin-bottom: 40px;
  }
  .membership .note-card__caption {
    padding: 0 40px 0 60px;
  }
  .membership .note-card__caption:before {
    background-image: url(../images/checkmark.svg);
    background-size: 14px 14px;
    width: 14px;
    height: 14px;
    left: 34px;
    top: 4px;
  }
  .membership .note-card__caption:nth-of-type(n + 4) {
    color: #615d6d;
  }
  .membership .note-card__caption:nth-of-type(n + 4)::before {
    background-image: url(../images/checkmark-grey.svg);
  }
  .membership .note-card__caption:not(:last-of-type) {
    margin-bottom: 24px;
  }
  .membership .note-card__btn-all {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
