@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap");
@font-face {
  font-family: "Al Veshion";
  src: local("Al Veshion Regular"), local("Al-Veshion-Regular"), url("../fonts/Al_Veshion.woff2") format("woff2"), url("../fonts/Al_Veshion.woff") format("woff"), url("../fonts/Al_Veshion.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header .nav-dropdown > * {
  font-size: 13px;
  line-height: 18px;
}

.services .btn-group__btn, .services .dropdown__item, .services .dropdown__btn, .header .nav-item {
  font-size: 12px;
  line-height: 16px;
}

.btn-consult {
  font-size: 11px;
  line-height: 15px;
}

@media (min-width: 992px) {
  .header .nav-dropdown > * {
    font-size: 16px;
    line-height: 24px;
  }
  .services .btn-group__btn, .services .dropdown__item, .services .dropdown__btn, .header .nav-item {
    font-size: 15px;
    line-height: 22px;
  }
  .btn-consult {
    font-size: 13px;
    line-height: 20px;
  }
}
html {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  letter-spacing: 0;
}

body {
  color: #ffffff;
  background-color: #1b1b1b;
}

h1,
h2,
h3,
h4 {
  font-family: "Al Veshion", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

h1 {
  font-size: 30px;
  line-height: 40px;
}

h2 {
  font-size: 24px;
  line-height: 32px;
}

h3 {
  font-size: 20px;
  line-height: 27px;
}

h4 {
  font-size: 16px;
  line-height: 21px;
}

h5 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
}

h6 {
  font-size: 15px;
  line-height: 20px;
}

.section-title {
  text-align: center;
  margin: 60px 0 30px;
}

@media (min-width: 992px) {
  h1 {
    font-size: 60px;
    line-height: 80px;
  }
  h2 {
    font-size: 48px;
    line-height: 64px;
  }
  h3 {
    font-size: 36px;
    line-height: 48px;
  }
  h4 {
    font-size: 24px;
    line-height: 32px;
  }
  h5 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
  }
  h6 {
    font-size: 18px;
    line-height: 24px;
  }
  .section-title {
    margin: 180px 0 60px;
  }
}
.header {
  position: relative;
  z-index: 2;
}
.header__logo {
  width: 152px;
  height: 23px;
}
.header__btn-burger {
  position: relative;
  padding: 10px;
  border: none;
}
.header__btn-burger:before {
  position: absolute;
  top: 0;
  right: 22px;
  content: "";
  width: 72px;
  height: 1px;
  background: #ffffff;
  opacity: 0.1;
  transform: rotate(90deg);
}
.header__btn-burger:focus {
  box-shadow: 0 0 2px #ffffff;
}
.header__btn-burger_icon {
  display: flex;
  position: relative;
  height: 1px;
  width: 24px;
  background-color: #fff;
}
.header__btn-burger_icon::before, .header__btn-burger_icon::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 24px;
  background-color: #fff;
}
.header__btn-burger_icon::before {
  top: 4px;
  left: 0;
}
.header__btn-burger_icon::after {
  bottom: 4px;
  right: 0;
}
.header .nav-item {
  text-transform: uppercase;
  font-weight: 700;
}
.header .nav-link {
  color: #ffffff;
}
@media (min-width: 992px) {
  .header {
    padding: 16px 0;
  }
  .header .nav-item:not(:nth-child(6)) {
    position: relative;
  }
  .header .nav-item:not(:nth-child(6)):after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: width 0.5s;
  }
  .header .nav-item:not(:nth-child(6)):hover:after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    background-color: #ac6cff;
    transition: width 0.5s;
  }
  .header .nav__dropdown {
    position: relative;
  }
  .header .nav__dropdown:before {
    position: absolute;
    bottom: 18px;
    right: 38px;
    content: "";
    width: 102px;
    height: 1px;
    background: #ffffff;
    opacity: 0.1;
    transform: rotate(90deg);
  }
  .header .nav__btn {
    color: #ffffff;
  }
  .header .navbar-nav > li {
    margin-left: 50px;
  }
}
.btn-consult {
  height: 36px;
  font-weight: 700;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  background-color: #8b32fe;
}

@media (min-width: 992px) {
  .btn-consult {
    height: 54px;
    background-image: linear-gradient(#7333c6, #7333c6);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position: left;
    transition: all 0.5s;
  }
  .btn-consult:hover {
    background-size: 100% 100%;
  }
  .btn-consult:active {
    transition: all 0.1s;
    box-shadow: inset 0 0 2px 2px #ffffff;
  }
}
.hero {
  position: relative;
  min-height: 100vh;
}
.hero__title {
  position: relative;
  z-index: 2;
  margin: 50px 0 30px;
}
.hero__video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.hero__btn-play {
  transition: all 0.7s;
  position: relative;
  z-index: 2;
  height: 52px;
  width: 52px;
  border-radius: 54%;
  border: none;
  background-image: url("../images/play-button.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.hero__btn-play:hover {
  transform: rotate(360deg) scale(1.1);
}
.hero__btn-play:active {
  transition: all 0.1s;
  box-shadow: inset 0 0 6px 4px #8b32fe;
}
.hero__subtitle {
  position: relative;
  z-index: 2;
}
.hero .hr-divider {
  position: relative;
  z-index: 2;
  opacity: 0.1;
}
.hero .hr-divider-static {
  position: absolute;
  z-index: 2;
  opacity: 0.1;
  top: 52px;
  left: 0;
  right: 0;
}

.services {
  min-height: 500px;
}
.services .dropdown {
  position: relative;
  padding: 0 15px;
  margin-bottom: 30px;
}
.services .dropdown__menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 15px;
  right: 15px;
  top: 100%;
  background-color: transparent;
  border-radius: 0;
  opacity: 0;
  pointer-events: none;
}
.services .dropdown__items {
  display: flex;
  flex-direction: column;
}
.services .dropdown__item, .services .dropdown__btn {
  width: 100%;
  padding: 15px 20px;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s;
  background: none;
  color: #ffffff;
  border: 1px solid #615d6d;
  border-radius: 0;
  font-weight: 700;
}
.services .dropdown__item:not(:nth-of-type(1)), .services .dropdown__btn:not(:nth-of-type(1)) {
  border-top: none;
}
.services .dropdown__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.services .dropdown__btn::after {
  content: url(../images/caret-down.svg);
}
.services .dropdown__btn.active > .services .dropdown__item, .services .dropdown__item:hover {
  background-color: #2d2d2e;
}
.services .dropdown.active > .dropdown__btn + .dropdown__menu {
  opacity: 1;
  transform: translateY(-1px);
  pointer-events: auto;
}
.services .btn-group__btn {
  font-weight: 700;
  transition: all 0.5s;
}

@media (min-width: 992px) {
  .hero__title {
    margin: 100px 0 40px;
  }
  .hero__btn-play {
    height: 100px;
    width: 100px;
  }
  .services .btn-group {
    margin-bottom: 60px;
  }
  .services .btn-group__btn {
    padding: 18px 0;
    max-width: 157px;
    border: 1px solid #615d6d;
    border-radius: 0;
    color: #615d6d;
    text-transform: uppercase;
  }
  .services .btn-group__btn:hover {
    color: #ffffff;
  }
}

/*# sourceMappingURL=style.css.map */
